<h2 mat-dialog-title>Create Transaction</h2>
<mat-dialog-content>
  <form #TransactionForm="ngForm">
    <mat-form-field>
      <mat-label>Type of Transaction</mat-label>
      <select matNativeControl name="typeOfSpending" [(ngModel)]="transaction.typeOfSpending" required>
        <option value="Income">Income</option>
        <option value="Daily">Daily</option>
        <option value="Monthly">Monthly</option>
      </select>
    </mat-form-field> 
    
    <mat-form-field>
        <mat-label>Category of Transaction</mat-label>
        <input matInput type="string" name="category" [(ngModel)]="transaction.category" required>
      </mat-form-field>

    <mat-form-field>
        <mat-label>Transaction Amount</mat-label>
        <input matInput type="number" name="amount" [(ngModel)]="transaction.amount" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Transaction</mat-label>
        <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="transaction.date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput type="string" name="comment" [(ngModel)]="transaction.comment" required>
      </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" [disabled]="!TransactionForm.valid" (click)="onCreate()">Create</button>
</mat-dialog-actions>
