<br><div class="dashboard-container">
  <div>
    <button mat-raised-button class="create_btn" (click)="openBudgetCreatingDialog()">
      <mat-icon>add_circle_outline</mat-icon>
      Create Budget
    </button>
  </div>
  <br>

  <div>
    <button mat-raised-button class="delete_btn" (click)="openBudgetDeleteByNameDialog()">
      <mat-icon>delete_outline</mat-icon>
      Delete Budget
    </button>
  </div>
  <br>

  <div>
    <button mat-raised-button class="create_btn" (click)="openTransactionCreatingDialog()">
      <mat-icon>payment</mat-icon>
      Create transaction
    </button>
  </div>
  <br>

    <div class="stats-container" *ngIf="activeBudget">

      <mat-form-field appearance="fill" color="primary">
        <mat-label>Name of Budget</mat-label>
        <mat-select matNativeControl name="name" [(ngModel)]="activeBudget" required>
          <mat-option class="stat-value" *ngFor="let item of budget" [value]="item">{{item.name}}</mat-option>
        </mat-select>    
      </mat-form-field>

        <div class="stat-card">
            <h3>
              <mat-icon> local_atm</mat-icon>
              Budget is
            </h3>
            <p class="stat-value">{{activeBudget.amount}}</p>
        </div>
          
        <div class="stat-card">
            <h3>
              <mat-icon>money</mat-icon>
              Free Balance
            </h3>
            <p class="stat-value">{{activeBudget.free}}</p>
        </div>
    </div>

    <br>
    <h2>Recent Transactions</h2>
    
    <table *ngIf="activeBudget">
      <thead>
        <tr>
          <th>
            <mat-icon>calendar_today</mat-icon>
          </th>
          <th>
            <mat-icon>toc</mat-icon>
            Description
          </th>
          <th>
            <mat-icon>money</mat-icon>
            Amount
          </th>
          <th>
            <mat-icon>subject</mat-icon>
            Caregory
          </th>
        </tr>
      </thead>
      
      <tbody>
        <ng-container *ngFor="let transaction of transactions, let even = even">
        <tr *ngIf="transaction.budgetName === activeBudget.name" [ngClass]="{'table-row-odd':even,'table-row-even':!even}" (click)="getTransactionInfo(transaction)">
          <td>{{transaction.date.toDate() | date: 'dd/MM'}}</td>
          <td>{{transaction.typeOfSpending}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.category}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
