<br><div class="dashboard-container">
  <div>
    <button mat-raised-button class="create_btn" (click)="openBudgetCreatingDialog()">
      <mat-icon>add_circle_outline</mat-icon>
      Create Budget
    </button>
  </div>
  <br>

  <div>
    <button mat-raised-button class="delete_btn" (click)="openBudgetDeleteByNameDialog()">
      <mat-icon>delete_outline</mat-icon>
      Delete Budget
    </button>
  </div>
  <br>

  <div>
    <button mat-raised-button class="create_btn" (click)="openTransactionCreatingDialog()">
      <mat-icon>payment</mat-icon>
      Create transaction
    </button>
  </div>
  <br>
  
    <div class="stats-container" *ngIf="budget[0]">
        <div class="stat-card">
            <h3>
              <mat-icon> local_atm</mat-icon>
              Budget is
            </h3>
            <p class="stat-value">{{budget[0].amount}}</p>
        </div>
          
        <div class="stat-card">
            <h3>
              <mat-icon>money</mat-icon>
              Free Balance
            </h3>
            <p class="stat-value">{{budget[0].free}}</p>
        </div>
    </div>

    <br>
    <h2>Recent Transactions</h2>
    
    <table>
      <thead>
        <tr>
          <th>
            <mat-icon>calendar_today</mat-icon>
          </th>
          <th>
            <mat-icon>toc</mat-icon>
            Description
          </th>
          <!-- <th>
            <mat-icon>date_range</mat-icon>
            Monthly
          </th> -->
          <th>
            <mat-icon>money</mat-icon>
            Amount
          </th>
          <th>
            <mat-icon>subject</mat-icon>
            Caregory
          </th>
          <!-- <th>
            <mat-icon> insert_comment</mat-icon>
            Comment
          </th> -->
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let transaction of transactions, let even = even" [ngClass]="{'table-row-even':even,'table-row-odd':!even}" (click)="getTransactionInfo(transaction)">
          <td>{{transaction.date.toDate() | date: 'dd/MM'}}</td>
          <td>{{transaction.typeOfSpending}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
