<div class="dashboard-container">
    <h1>Welcome to your Budget Management App!</h1>
    <p>Here are some quick stats:</p>

    <button mat-raised-button (click)="openBudgetCreatingDialog()">Create Budget</button>

    <button mat-raised-button (click)="openBudgetDeleteByNameDialog()">Delete Budget</button>

    <button mat-raised-button (click)="openTransactionCreatingDialog()">Create transaction</button>
    
    <div class="stats-container" *ngIf="budget[0]">
        <div class="stat-card">
            <h3>Budget is</h3>
            <p class="stat-value">{{budget[0].amount}}</p>
          </div>
          
          <div class="stat-card">
            <h3>Free Balance</h3>
            <p class="stat-value">{{budget[0].free}}</p>
          </div>
        </div>
    
    <h2>Recent Transactions</h2>
    
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Monthly</th>
          <th>Amount</th>
          <th>Caregory</th>
          <th>Comment</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.date.toDate() | date: 'dd/MM/yyyy'}}</td>
          <td>{{transaction.typeOfSpending}}</td>
          <td>{{transaction.posting}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.category}}</td>
          <td>{{transaction.comment}}</td>
        </tr>
      </tbody>
    </table>
  </div>
