<br><div class="dashboard-container">

    <button mat-raised-button class="create_btn" (click)="openTransactionCreatingDialog()">
      <mat-icon>payment</mat-icon>
      Create transaction
    </button>
    <br>

    <br>
    <h2>All Transactions</h2>

    <h3>Filter:</h3>
    
    <button mat-icon-button (click)="getDailyTransactions()"><mat-icon>not_interested</mat-icon></button>
    <mat-form-field>
      <mat-label>Date of Transaction</mat-label>
      <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="dateOfFilter" required>
      <mat-hint>MM/DD/YYYY</mat-hint>  
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <button mat-icon-button (click)="getDailyTransactionsByDate()"><mat-icon>search</mat-icon></button>
    <br><br>    
    
    <table>
      <thead>
        <tr>
          <th><mat-icon>calendar_today</mat-icon> </th>
          <th><mat-icon>local_atm</mat-icon>  </th>
          <th><mat-icon>date_range</mat-icon>Monthly</th>
          <th><mat-icon>money</mat-icon>Amount</th>
          <th><mat-icon>subject</mat-icon>Caregory</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let transaction of transactions, let even = even" [ngClass]="{'table-row-even':even,'table-row-odd':!even}" (click)="getTransactionInfo(transaction)">
          <td>{{transaction.date.toDate() | date: 'dd/MM'}}</td>
          <td>{{transaction.budgetName}}</td>
          <td>{{transaction.posting}}</td>
          <td>{{transaction.amount}}</td>
          <td>{{transaction.category}}</td>
        </tr>
      </tbody>
    </table>
  </div>
