
<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput placeholder="ur email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput placeholder="ur password">
            </mat-form-field>
        </p>

        <div *ngIf="firebaseErrorMessage != ''" class="error-style"> 
            <span>Wrong email or password :(</span>
        </div>

        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
</mat-card>