<h2 mat-dialog-title>Transaction Details</h2>
<div mat-dialog-content>
  <p><strong>Budget's Name:</strong> {{transaction.budgetName}}</p>
  <p><strong>Date:</strong> {{transaction.date.toDate() | date: 'dd/MM/yyyy'}}</p>
  <p><strong>Type of Spending:</strong> {{transaction.typeOfSpending}}</p>
  <p><strong>Posting:</strong> {{transaction.posting}}</p>
  <p><strong>Amount:</strong> {{transaction.amount}}</p>
  <p><strong>Category:</strong> {{transaction.category}}</p>
  <p><strong>Comment:</strong> {{transaction.comment}}</p>
</div>

<form #postingTransaction="ngForm">
<mat-form-field *ngIf="transaction.typeOfSpending === 'Monthly'">
  <mat-label>Date of Posting</mat-label>
  <input matInput [matDatepicker]="picker" name="newDate" [(ngModel)]="newDate" required>
  <mat-hint>MM/DD/YYYY</mat-hint>  
  <mat-datepicker #picker></mat-datepicker>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
</mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Close</button>
  <button mat-button color="warn" (click)="deleteTransaction()">Delete</button>
  <button mat-button *ngIf="transaction.typeOfSpending === 'Monthly'" color="primary" [disabled]="!postingTransaction.valid" (click)="posting()">Posting</button>
</div>
