@use '@angular/material' as mat;
@import '/src/styles.scss';

.navigation{
  display: flow-root;
  width: 100%;
  min-width: 375px !important; /* adjust as needed */
}


.right {
    margin-left: auto;
  }