  <mat-sidenav-container class="navigation">
  <mat-sidenav #sidenav>
      <mat-nav-list style="padding-left: 2ch;">
        <button mat-item mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-item mat-icon-button routerLink="/dashboard" (click)="sidenav.toggle()">
          <mat-icon>account_balance</mat-icon>
        </button>
        <button mat-item mat-icon-button routerLink="/daily" (click)="sidenav.toggle()">
          <mat-icon>today</mat-icon>
        </button>
        <button mat-item mat-icon-button routerLink="/monthly" (click)="sidenav.toggle()">
          <mat-icon>date_range</mat-icon>
        </button>
        <button mat-item mat-icon-button routerLink="/balance" (click)="sidenav.toggle()">
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
        <button mat-item mat-icon-button routerLink="/incomes" (click)="sidenav.toggle()">
          <mat-icon>attach_money</mat-icon>
        </button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{pageTitle}}</span>
        <button *ngIf="(fbAuth.user | async) === null" class="right" mat-raised-button routerLink="/login">
          <mat-icon>meeting_room</mat-icon>
          Login
        </button>
        <button *ngIf="(fbAuth.user | async) !== null" class="right" mat-raised-button style="background-color: #f50057;" (click)="logout()">
          <mat-icon>no_meeting_room</mat-icon>
          Log out
        </button>
      </mat-toolbar>
    </mat-sidenav-content>
</mat-sidenav-container>